.fourth_home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
    gap: 2rem;
    background-color: #e1f9f9
}


.cards{
    display: grid;
    width: 60vw;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  
  
}


.profileImage{
    position: relative ;
    width: 65px;
    height: 65px;
}



@media(orientation : landscape) and (height <= 480){
    .cards{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
       
        width: 100vw;
        
    }
    .profileImage{
        width: 30px;
        height: 30px;
    }
    .cards div:nth-child(5){
        display:none !important;
    }
    
    .cards div:nth-child(6){
        display:none !important;
    }
  
    .container{
        height: fit-content !important;
        width: 20vw !important;
    }
}

@media(max-width:600px) and (orientation : portrait){

  
 
.cards{
    width: 100vw;
    height: 70vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.profileImage{
    width: 30px;
    height: 30px;
}

.container{
    padding: 1.5rem 0.5rem !important;
    height: fit-content !important;
    width: 40vw !important;
}

.cards div:nth-child(5){
    display:none !important;
}

.cards div:nth-child(6){
    display:none !important;
}
}