.third_home{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
   position: relative;
   background-color: #2A393D;

}


@media(max-width:728px){     
  .thirdHomeImage{
 display: none;
  }
}

