@media (max-width: 720px) {
  .enSlider {
    left: -30% !important;
  }
  .enConstituents{
    left: 15% !important;
  }
  .krSlider {
    left: -30% !important;
  }
  .krConstituents {
    left: 5% !important;
  }
  .jpSlider {
    right: -30% !important;
  }
  .jpConstituents {
    right: 20% !important;
  }
 

}